/* #region Variables */

:root {
  --black: #000;
  --white: #fff;
  --red: tomato;
  --green: seagreen;
  --orange: orange;
  --blue: skyblue;
  --pink: plum;
  --grey: grey;
}

/* #endregion Variables */
